.unlocked-modal {
    background-color: white;
    border-radius: 15px;
    width: 80vw;
    left: 10vw;
    height: 46vh;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    box-sizing: border-box;
}

.unlocked-modal img {
    width: 50vw;
    height: auto;
}

.unlocked-modal-title {
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 18px;
    font-family: 'San Fransisco Display', sans-serif;
    font-weight: 600;
}

.unlocked-modal-content {
    padding-bottom: 2px;
    font-size: 18px;
    font-family: 'San Fransisco', sans-serif;
    font-weight: 500;
}

.unlocked-modal-timestamp {
    font-size: 15px;
    font-family: 'San Fransisco', sans-serif;
    font-weight: 400;
}

.unlocked-modal-dismiss {
    margin-top: 20px;
    background-color: #5359EF;
    font-size: 17px;
    font-family: 'San Fransisco', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    width: 64vw;
    padding-top: .8em;
    padding-bottom: .8em;
    color: white;
}