.scanner-nav-overflow {
    height: 0;
    overflow: visible;
    /* background-color: black; */
    z-index: 99;
}

.scanner-nav {
    width: 100vw;
    height: 12vh;
    overflow: visible;
    padding-top: 7vh;
    box-sizing: border-box;
    box-shadow: 0 3px 8px 3px #00000066;
    z-index: 99;
}

.scanner-nav-back {
    display: inline;
    position: fixed;
    left: 8vw;
    z-index: 100;
    margin: 0;
    padding: 0;
}
.scanner-nav-back img {
    width: 24px;
    height: auto;
}

.scanner-nav-title {
    display: inline;
    left: 40vw;
    position: fixed;
    color: white;
    font-family: 'San Fransisco', sans-serif;
    font-weight: 600;
    font-size: 20px;
    z-index: 100;
}